.about {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: [full-start] 7vw [col-start] 43vw [mid] 43vw [col-end] 7vw [full-end];


    &__logo {
        font-weight: 100;
    }

    &__main {
        grid-column: full-start / full-end;

        &--sectionFive {
            height: 90vh;
            position: relative;
            margin-bottom: 15rem;

            @media only screen and (max-width: $bp-larger) {
                height: 50vh;
                margin: -10rem 0rem 0rem 0rem;
            }

            @media only screen and (max-width: $bp-medium) {
                height: 30vh;
                margin-top: 0rem;
                margin-bottom: 0rem;
            }
        }
    }

    &__header {
        position: relative;
        margin-bottom: 10rem;

        &--img {
            width: 100vw;
            height: 80vh;

            @media only screen and (max-width: $bp-medium) {
                height: 55vh;
                margin-bottom: 0rem;
            }
        }
    }

    &__title {
        position: absolute;
        width: 100%;
        height: 60vh;
        top: 40%;
        text-align: center;

        color: $color-white;

        z-index: .5;

        h1 {
            font-size: 8rem;

            font-style: italic;

            position: sticky;
            position: -webkit-sticky;
            top: 40vh;
            left: 0;
        }

        &--sectionFive {
            top: -13%;
            height: 120vh;
        }

        @media only screen and (max-width: $bp-larger) {
            h1:last-of-type {
                display: none;
            }
        }

        @media only screen and (max-width: $bp-medium) {
            h1 {
                font-size: 5rem;
            }
        }
    }
}

.aboutGrid {
    grid-column: col-start / col-end;

    display: grid;
    grid-template-columns: 1fr .5fr .5fr 1fr;

    &__top {
        background: linear-gradient(to right, rgba($color-white, .4), rgba($color-white, .4)), url('../../imgs/backgroundDesign.png') 145% 0%/75% no-repeat;
        height: 130vh;
        background-attachment: fixed;

        @media only screen and (max-width: $bp-larger) {
            background: none;
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    h1 {
        font-size: 6rem;
        font-weight: 600;
    }

    h3 {
        font-size: 2.3rem;
        font-weight: 100;
    }


    &__story {
        grid-column: 1 / span 2;
        padding: 5rem;

        @media only screen and (max-width: $bp-larger) {
            grid-column: 1 / span 4;
            padding: 0rem;
        }


        &>* {
            margin-bottom: 1.5rem;
        }

        h1 {
            font-size: 7rem;
        }

        h3 {
            font-size: 2.3rem;
            font-weight: 100;
        }

        p {
            padding-right: 4rem;
        }
    }

    &__storyTwo {
        margin-top: 15rem;
        grid-column: 2 / span 2;
        height: 55vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        padding: 0rem 5rem;
        background-color: rgba(white, 1);

        &>:not(:last-child) {
            margin-bottom: 2rem;
        }

        @media only screen and (max-width: $bp-larger) {
            margin-top: 10rem;
            grid-row: 3 / span 1;
            grid-column: 1 / span 4;
        }
    }

    &__ad {

        &--1 {
            grid-column: 1 / span 1;
            background: url('../../imgs/aboutad-1.jpg') 100%/100% no-repeat;

            @media only screen and (max-width: $bp-larger) {
                background: url('../../imgs/aboutad-1.jpg') 0% 75%/100% no-repeat;
                grid-column: 1 / span 4;
                grid-row: 2 / span 3;
                height: 50vh;
            }

            @media only screen and (max-width: $bp-medium) {
                background: url('../../imgs/aboutad-1.jpg') 50% 100%/140% no-repeat;
            }

            @media only screen and (max-width: $bp-phone-1) {
                background: url('../../imgs/aboutad-1.jpg') 50% 500%/140% no-repeat;
                height: 75vh;
            }
        }

        &--2 {
            grid-column: 4 / span 1;
            background: url('../../imgs/aboutad-2.jpg') 100%/100% no-repeat;

            @media only screen and (max-width: $bp-larger) {
                height: 40vh;
                grid-column: 1 / span 4;
                grid-row: 4 / span 1;
                background: url('../../imgs/aboutad-2.jpg') 0% 35%/100% no-repeat;
            }
        }

        &--3 {
            grid-column: 1 / span 3;
            background: url('../../imgs/aboutad-3.jpg') 100%/100% no-repeat;

            @media only screen and (max-width: $bp-larger) {
                background: url('../../imgs/aboutad-3.jpg') 0% 75%/100% no-repeat;
                grid-column: 1 / span 4;
                grid-row: 5 / span 1;
                height: 50vh;
            }

            @media only screen and (max-width: $bp-medium) {
                height: 40vh;
            }
        }

        &--4 {
            grid-column: 2 / span 3;
            background: url('../../imgs/aboutad-4.jpg') 100%/100% 100% no-repeat;

            @media only screen and (max-width: $bp-larger) {
                display: none;
            }

        }

        &--5 {
            grid-column: 1 / span 1;
            background: url('../../imgs/aboutad-5.jpg') 100%/100% 100% no-repeat;
        }

        &--6 {
            grid-column: 2 / span 2;
            background: url('../../imgs/aboutad-6.jpeg') 100%/100% 100% no-repeat;


        }

        &--7 {
            grid-column: 4 / span 1;
            background: url('../../imgs/aboutad-7.jpg') 100%/100% 100% no-repeat;
        }

        &--8 {
            grid-column: full-start / full-end;
            background: url('../../imgs/header2.jpg') 100%/100% no-repeat;
            height: 100%;
        }
    }

    &__sectionTwo {
        height: 64vh;
        margin-bottom: 20rem;
    }

    &__competitive {
        align-self: center;
        padding: 3rem 5rem;

        &>*:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        h1 {
            font-size: 4rem;
        }

        h3 {
            font-size: 2.5rem;
            font-weight: 100;
        }

        p {
            font-weight: 600;
        }

        @media only screen and (max-width: $bp-larger) {
            grid-column: 1 / span 4;

            h1 {
                margin-top: 10rem;
            }
        }

        @media only screen and (max-width: $bp-medium) {
            h1 {
                margin-top: 15rem;
            }
        }

        @media only screen and (max-width: $bp-phone-1) {
            h1 {
                margin-top: 5rem;
            }
        }
    }

    &__sectionThree {
        height: 68vh;
    }

    &__yourStory {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 5rem;
        }

        h1,
        h3,
        p {
            padding: 0rem 2rem;
        }

        @media only screen and (max-width: $bp-larger) {

            grid-column: 1 / span 4;
        }

        @media only screen and (max-width: $bp-medium) {
            h1 {
                margin-top: 5rem;
            }
        }
    }


    &__sectionFour {
        height: 70vh;
        margin-bottom: 10rem;

        @media only screen and (max-width: $bp-larger) {
            display: none;
        }
    }

    &__sectionSix {
        display: grid;
        grid-template-columns: .5fr 1fr 1fr .5fr;
        margin-bottom: 15rem;


        &--top {
            grid-column: 2 / span 2;
            text-align: center;
            margin-bottom: 10rem;

            display: flex;
            flex-direction: column;
            align-items: center;

            @media only screen and (max-width: $bp-medium) {
                grid-column: 1 / span 4;
            }
        }

        h1 {
            font-weight: 100;
            margin-bottom: 1rem;
        }

        p {
            line-height: 2.5rem;
        }

        &--ceoImg {
            grid-column: 1 / span 2;
            background: url('../../imgs/ceo.png') 0% 0%/100% 100% no-repeat;
            height: 60vh;

            @media only screen and (max-width: $bp-medium) {
                grid-column: 1 / span 4;
            }

            @media only screen and (max-width: $bp-phone-1) {
                height: 45vh;
            }
        }

        &--ceoDetail {
            grid-column: 3 / span 2;

            margin-left: 2rem;

            &>:not(:last-child) {
                margin-bottom: 2rem;
            }

            @media only screen and (max-width: $bp-medium) {
                margin-top: 2rem;
                margin-bottom: 0rem;
                grid-column: 1 / span 4;
            }
        }
    }
}