.myaccount {
    grid-column: col-start / col-end;
}

.profile {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 10rem 0;

    a,
    Link {

        &:visited,
        &:link,
        &:active {
            color: black;
        }

        &:hover {
            color: white;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    &__logIn {
        margin-bottom: 3rem;
    }

    // My Account -- Wishlist -- Orders ~ Navbar
    &__navbar {
        display: flex;

        justify-content: center;
        width: 86vw;

        &--ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            border: $itemCardBorder;
            border-radius: 5px;
            padding: 2rem 4rem;
        }

        &--li {
            border-bottom: 2px solid transparent;
            cursor: pointer;

            font-size: 1.8rem;

            transition: border .2s ease-in-out;

            &:not(:last-child) {
                margin-right: 3rem;
            }

            &:hover {
                border-bottom: 2px solid black;
            }

            &-selected {
                border-color: $loggedIn;
            }

            @media only screen and (max-width:$bp-phone-1) {
                font-size: 1.6rem;
            }
        }
    }

    &__nav {
        list-style: none;

        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            display: inline-block;
            margin-right: 1rem;
            font-size: 2.5rem;
            font-weight: 500;
        }
    }

    &__item,
    &__inputItem {
        font-size: 2rem;
        font-weight: 500;

        margin-bottom: 2rem;
    }

    &__inputItem {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {

        h3 {
            font-size: 2rem;
        }

        &--span {
            font-size: 2rem;
            border-bottom: 1px solid black;
        }
    }

    &__input {
        border-radius: 5px;
        border: 1px solid lightgrey;
        height: 5vh;
        width: 25vw;
        font-size: 2rem;
        margin-bottom: 2rem;

        &:focus {
            outline: none;
        }

        @media only screen and (max-width:$bp-larger) {
            width: 40vw;
        }

        @media only screen and (max-width:$bp-medium) {
            width: 50vw;
        }

    }

    &__button {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}