.orders {
    grid-column: col-start / col-end;

    padding: 10rem 0;
    display: block;
    margin: auto;
    text-align: center;

    h1 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.3rem;
    }
}